*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent2 {
    width: 100%;
    height: 100vh;
    background-color: #0c3b2e;
    margin-top: 10px;
}
.parent2 .main {
    margin-left: 80px;
    margin-right: 20px;
    padding-top: 30px;
    display: grid;
    grid-gap: 100px;
    
    grid-template-rows: repeat(2,250px);
    grid-template-columns: repeat(2,250px);
}
#txt1{
    padding-top: 20px;
    border-radius: 5px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-area: 1/1/1/1;
}
#txt2{
    padding-top: 30px;
    font-size: 18px;
    font-family: monospace;
    border-radius: 5px;
    grid-area: 3/1/2/2;
}
#img1{
    border-radius: 5px;
    grid-area: 2/2/1/2;
    
    
}
#sajjan1 {
    width: 300%;
    height: 280%;
}